<h1>О проекте</h1>

<p>
  Проект TestGuru — это платформа тестирования, которая позволяет легко создавать тесты и управлять ими. 
  Она включает в себя аутентификацию пользователей и базовое разграничение прав доступа.
</p>

<p>
  Администраторы могут создавать новые тесты, просматривать результаты всех пользователей, 
  а также управлять правами доступа пользователей. 
  Пользователи могут проходить тесты, смотреть свои результаты и делиться ими в социальных сетях.
</p>

<p>
  TestGuru — это удобное решение для тестирования знаний, которое помогает организовать и упростить процесс обучения.
</p>

<p>
  Для получения дополнительных знаний и навыков вы можете посетить онлайн-школу 
  <a href="http://www.thinknetica.com" target="_blank">Thinknetica</a>.
</p>
