<h1>Об авторе</h1>

<p>
  Я — ученик онлайн-школы <a href="http://www.thinknetica.com" target="_blank">Thinknetica</a>, 
  живу в Сочи и работаю системным администратором.
</p>

<p>
  Вы можете найти меня на GitHub: 
  <a href="https://github.com/akokarev" target="_blank">akokarev</a>.
</p>

<p>
  Мой e-mail: <a href="mailto:anton@kokarev.su">anton@kokarev.su</a>
</p>

<p>
  Спасибо за интерес к проекту TestGuru!
</p>
